<div id="<%= dom_id annotation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= annotation.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Annotation type:</strong>
    <%= annotation.annotation_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">X position:</strong>
    <%= annotation.x_position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Y position:</strong>
    <%= annotation.y_position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= annotation.project_id %>
  </p>

</div>
